<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIGGERSA | Aviso Legal</title>
    <link rel="stylesheet" href="../css/aviso_legal.css">
    <link rel="icon" href="../assets/images/common/icon.png">
</head>
<body>
    <!-- =============================HEADER========================================================= -->
    <header class="header">
        <div class="container nav-container">
            <div class="header_logo"><img src="../assets/images/common/logo.png" alt="Logo de la empresa" width="250" height="184"></div>
            <nav class="header_nav">
                <a href="../index.html">Inicio</a>
                <a href="productos.html">Galeria</a>
                <a href="presupuesto.html">Presupuesto</a>
                <a href="contacto.html">Contacto</a> 
            </nav>
            <button class="menu-toggle">⛑</button>
        </div>
    </header>
    <!-- =============================MAIN========================================================= -->
    <main class="legal-page">
        <div class="container">
            <h1 class="legal-title">Aviso Legal :</h1>
            <section class="legal-section">
                <h2>Datos identificativos del titular</h2>
                <p>En cumplimiento con el deber de información recogido en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), se informa que este sitio web es propiedad de:</p>
                <ul>
                    <li><strong>Empresa:</strong> Riggersa Construcciones S.L.</li>
                    <li><strong>Actividad:</strong> Plataforma educativa y servicios relacionados</li>
                    <li><strong>Correo electrónico:</strong> info@riggersa.es</li>
                </ul>
            </section>
            <section class="legal-section">
                <h2>Condiciones de uso</h2>
                <p>El acceso y navegación por este sitio web atribuye la condición de usuario, lo que implica la aceptación plena de las condiciones aquí recogidas.</p>
                <p>El usuario se compromete a hacer un uso adecuado del sitio web, evitando actividades ilícitas, ilegales o contrarias a la buena fe y al orden público.</p>
            </section>
            <section class="legal-section">
                <h2>Propiedad intelectual e industrial</h2>
                <p>Todos los contenidos de este sitio web (textos, imágenes, diseño, logotipos, código fuente y demás elementos) son propiedad de Riggersa Construcciones S.L. o de terceros con autorización.</p>
                <p>Queda prohibida su reproducción, distribución o modificación sin autorización expresa del titular.</p>
            </section>
            <section class="legal-section">
                <h2>Responsabilidad</h2>
                <p>Riggersa Construcciones S.L. no se responsabiliza del mal uso que se realice del contenido de esta web, siendo exclusiva responsabilidad del usuario.</p>
                <p>No se garantiza la inexistencia de errores técnicos o la disponibilidad permanente del sitio web.</p>
            </section>
            <section class="legal-section">
                <h2>Enlaces externos</h2>
                <p>Este sitio web puede contener enlaces a páginas de terceros. Riggersa Construcciones S.L. no se responsabiliza del contenido ni de las políticas de privacidad de dichos sitios externos.</p>
            </section>
            <section class="legal-section">
                <h2>Legislación aplicable</h2>
                <p>Las relaciones entre el usuario y el titular de este sitio web se regirán por la normativa vigente en España, en particular por la LSSI-CE y demás normativa aplicable.</p>
                <p>En caso de conflicto, las partes se someterán a los juzgados y tribunales españoles.</p>
            </section>
        </div>
    </main>
        <!-- =============================FOOTER========================================================= -->
    <footer class="footer">
        <div class="container footer-grid">
            <div class="footer-col">
                <h3 class="footer-title">EMPRESA</h3>
                <div class="footer-line"></div>
                <h2 class="brand">RIGGERSA <span>S.L</span></h2>
                <p>Ingeniería y construcción de alto nivel. Más de 40 años desarrollando proyectos sólidos y sostenibles.</p>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">OFICINAS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="https://www.google.com/maps/place/EMPRESA+PRINCIPAL+-+RIGGERSA+CONSTRUCCIONES+S.L./@40.3859311,-3.6896409,17z/data=!4m6!3m5!1s0xd422636b07a2ec3:0x4430f03d793fce7!8m2!3d40.385927!4d-3.687066!16s%2Fg%2F11j2y_l5cc?entry=ttu&g_ep=EgoyMDI2MDIyNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">📍C. de Puerto Serrano, 24, Arganzuela, 28045 Madrid</a></li>
                    <li>📧 info@riggersa.es</li>    
                    <li>📞 +34 913545796</li>
                    <li>🕒 Lun - Vie: 9:00 a 19:00</li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">LEGAL</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="politica_privacidad.html">Política de Privacidad</a></li>
                    <li><a href="aviso_legal.html">Aviso Legal</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">SÍGUENOS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li>
                        <a href="https://es.linkedin.com/company/riggersa-construcciones-s-l" target="_blank">
                            <img src="../assets/images/common/linkedin.png" alt="LinkedIn" width="512" height="512" class="icon">LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100088196477232&locale=es_ES" target="_blank">
                            <img src="../assets/images/common/facebook.png" alt="Facebook" width="512" height="512" class="icon">Facebook 
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/riggersa_construcciones_s.l" target="_blank">
                            <img src="../assets/images/common/instagram.png" alt="Instagram" width="512" height="512" class="icon">Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
        <p>© 2026 RIGGERSA Construcciones S.L. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- =============================JS========================================================= -->
    <script>
        const menu = document.querySelector(".header_nav");
        const boton = document.querySelector(".menu-toggle");
        boton.addEventListener("click", ()=>{
            menu.classList.toggle("active")
        })
    </script>
</body>
</html>