<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIGGERSA | Contactar</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel=" icon" href="../assets/images/common/icon.png">
</head>
<body>
    <!-- =============================HEADER========================================================= -->
    <header class="header">
        <div class="container nav-container">
            <div class="header_logo"><img src="../assets/images/common/logo.png" alt="Logo de la empresa" width="250" height="184"></div>
            <nav class="header_nav">
                <a href="../index.html">Inicio</a>
                <a href="productos.html">Galeria</a>
                <a href="presupuesto.html">Presupuesto</a>
                <a href="contacto.html" class="active">Contacto</a> 
            </nav>
            <button class="menu-toggle">⛑</button>
        </div>
    </header>
    <!-- =============================MAIN========================================================= -->
    <main>
        <section class="contacto">
        <div class="container">
            <h1 class="titulo-contacto">Contacta con Nosotros 👷</h1>
            <div class="info-contacto">
                <div class="telefono">
                    <h2>📞+34 913545796</h2>
                </div>
                <div class="direccion">
                    <h2>Oficina</h2>
                    <h2>📍C. de Puerto Serrano, 24, Arganzuela</h2>
                    <h2>28045 Madrid</h2>
                </div>
            </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps?q=C.%20de%20Puerto%20Serrano%2024%20Madrid&output=embed" title="Ubicación de la empresa en Google Maps ">
                </iframe>
            </div>
        </div>
        </section>
    </main>
    <!-- =============================FOOTER========================================================= -->
    <footer class="footer">
        <div class="container footer-grid">
            <div class="footer-col">
                <h3 class="footer-title">EMPRESA</h3>
                <div class="footer-line"></div>
                <h2 class="brand">RIGGERSA <span>S.L</span></h2>
                <p>Ingeniería y construcción de alto nivel. Más de 40 años desarrollando proyectos sólidos y sostenibles.</p>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">OFICINAS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="https://www.google.com/maps/place/EMPRESA+PRINCIPAL+-+RIGGERSA+CONSTRUCCIONES+S.L./@40.3859311,-3.6896409,17z/data=!4m6!3m5!1s0xd422636b07a2ec3:0x4430f03d793fce7!8m2!3d40.385927!4d-3.687066!16s%2Fg%2F11j2y_l5cc?entry=ttu&g_ep=EgoyMDI2MDIyNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">📍C. de Puerto Serrano, 24, Arganzuela, 28045 Madrid</a></li>
                    <li>📧 info@riggersa.es</li>    
                    <li>📞 +34 913545796</li>
                    <li>🕒 Lun - Vie: 9:00 a 19:00</li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">LEGAL</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="politica_privacidad.html">Política de Privacidad</a></li>
                    <li><a href="aviso_legal.html">Aviso Legal</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">SÍGUENOS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li>
                        <a href="https://es.linkedin.com/company/riggersa-construcciones-s-l" target="_blank">
                            <img src="../assets/images/common/linkedin.png" alt="LinkedIn" width="512" height="512" class="icon">LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100088196477232&locale=es_ES" target="_blank">
                            <img src="../assets/images/common/facebook.png" alt="Facebook" width="512" height="512" class="icon">Facebook 
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/riggersa_construcciones_s.l" target="_blank">
                            <img src="../assets/images/common/instagram.png" alt="Instagram" width="512" height="512" class="icon">Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
        <p>© 2026 RIGGERSA Construcciones S.L. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- =============================JS========================================================= -->
    <script>
        const menu = document.querySelector(".header_nav");
        const boton = document.querySelector(".menu-toggle");
        boton.addEventListener("click", ()=>{
            menu.classList.toggle("active")
        })
    </script>
</body>
</html>