<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIGGERSA | Aviso Legal</title>
    <link rel="stylesheet" href="../css/politica_privacidad.css">
    <link rel="icon" href="../assets/images/common/icon.png">
</head>
<body>
    <!-- =============================HEADER========================================================= -->
    <header class="header">
        <div class="container nav-container">
            <div class="header_logo"><img src="../assets/images/common/logo.png" alt="Logo de la empresa" width="250" height="184"></div>
            <nav class="header_nav">
                <a href="../index.html">Inicio</a>
                <a href="productos.html">Galeria</a>
                <a href="presupuestos.html">Presupuesto</a>
                <a href="contacto.html">Contacto</a> 
            </nav>
            <div class="menu-toggle">⛑</div>
        </div>
    </header>
    <!-- =============================MAIN========================================================= -->
    <main class="legal-page">
        <div class="container">
            <h1 class="legal-title">Política de Privacidad :</h1>
            <section class="legal-section">
                <h2>Finalidades y motivos del tratamiento de su información</h2>
                <p>El tipo de datos que recopilamos varía según su interacción con nosotros. A continuación, detallamos los objetivos principales por los que procesamos su información:</p>
                <ul>
                    <li>Gestión de consultas y atención al usuario: Dado que nuestro sitio web tiene un carácter informativo sobre los servicios de plataforma educativa de Riggersa Construcciones S.L., utilizaremos sus datos para resolver cualquier duda o solicitud de presupuesto que nos haga llegar.</li>
                    <li>Valoración de contacto comercial: La información facilitada a través de nuestros formularios web tiene como meta analizar la viabilidad de establecer una relación profesional y permitir que nuestro equipo contacte con usted de forma proactiva.</li>
                    <li>La página web tiene un blog para poder subir y compartir historias de interés para los usuarios.</li>
                </ul>
                <p>Se informa al usuario de la posibilidad de retirar su consentimiento en el caso de que se haya otorgado para alguna finalidad específica, sin que ello afecte a la licitud del tratamiento precedente basado en el consentimiento previo a su retirada.</p>
            </section>
            <section class="legal-section">
                <h2>¿Cuál es el periodo de permanencia de su información?</h2>
                <p>El procesamiento de su información personal se extenderá exclusivamente por el tiempo requerido para alcanzar los objetivos que motivaron su obtención. Asimismo, conservaremos sus datos para asegurar el cumplimiento de las normativas vigentes y las responsabilidades jurídicas que puedan emanar de nuestra relación.</p>
                <p>Riggersa Construcciones S.L. garantiza la interrupción del uso de sus datos personales una vez concluido el ciclo de conservación estipulado. En dicho momento, procederemos a la restricción de acceso técnica y lógica (bloqueo) en nuestros sistemas de almacenamiento para asegurar su privacidad.</p>
            </section>
            <section class="legal-section">
                <h2>Interacción y actividad en plataformas digitales</h2>
                <p>Riggersa Construcciones S.L. mantiene una presencia activa en los principales ecosistemas digitales, incluyendo perfiles oficiales en Facebook, LinkedIn, YouTube, así como a través de su Blog corporativo y Newsletter. </p>
                <p>En el marco de estas plataformas, la empresa actúa como responsable de la gestión de los datos de sus seguidores, usuarios y de quienes interactúen en sus publicaciones. No obstante, en cumplimiento con la normativa de servicios de la sociedad de la información (LSSI-CE), Riggersa Construcciones S.L. no se hace responsable de las opiniones, mensajes o contenidos vertidos por terceros en dichas redes.</p>
            </section>
            <section class="legal-section">
                <h2>Protección de datos y política de privacidad</h2>
                <p>Los datos personales proporcionados serán tratados conforme a la normativa vigente (RGPD y LOPDGDD) y formarán parte del Registro de Actividades de Tratamiento de Riggersa Construcciones S.L. Los usuarios podrán ejercer sus derechos de acceso, rectificación, supresión, limitación, oposición y portabilidad de datos mediante info@riggersa.es.</p>
            </section>
            <section class="legal-section">
                <h2>Medidas de seguridad</h2>
                <p>Riggersa Construcciones S.L. ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, y procura instalar aquellos medios y medidas técnicas adicionales a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados a Riggersa Construcciones S.L.. No obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.</p>
                <p>Por ello, Riggersa Construcciones S.L. no es responsable de hipotéticos daños o perjuicios que se pudieran derivar de interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas a Riggersa Construcciones S.L. de retrasos o bloqueos en el uso del presente sistema electrónico causados por deficiencias o sobrecargas de líneas telefónicas o sobrecargas en el Centro de Procesos de Datos, en el sistema de Internet o en otros sistemas electrónicos, así como de daños que puedan ser causados por terceras personas mediante intromisiones ilegítimas fuera del control de Riggersa Construcciones S.L.</p>
            </section>
            <section class="legal-section">
                <h2>Gestión y uso de dispositivos de almacenamiento (Cookies)</h2>
                <p>¿Qué son? Estas herramientas son pequeños archivos de datos que se generan en el dispositivo del usuario. Su función es puramente técnica: permiten que el sitio web "recuerde" preferencias y facilite un recorrido más fluido por nuestras páginas.</p>
                <p>Privacidad de los datos: Aunque la información obtenida puede ser analizada junto con los proveedores de dichas herramientas, en ningún caso estos datos se vinculan con la identidad real del usuario ni con información personal que permita su identificación directa.</p>
                <p>Control del usuario: Usted mantiene el control total sobre su equipo. Si prefiere evitar la generación de estos archivos en su unidad de almacenamiento, puede ajustar la configuración de su navegador para restringir o bloquear su instalación de forma automática.</p>
            </section>
            <section class="legal-section">
                <h2>Actualizaciones y cambios en la Política de Privacidad</h2>
                <p>Este documento de privacidad está sujeto a posibles cambios y actualizaciones futuras. Por ello, le sugerimos que consulte este apartado con regularidad para estar al tanto de cualquier novedad en la gestión de sus datos.</p>
            </section>
        </div>
    </main>
    <!-- =============================FOOTER========================================================= -->
    <footer class="footer">
        <div class="container footer-grid">
            <div class="footer-col">
                <h3 class="footer-title">EMPRESA</h3>
                <div class="footer-line"></div>
                <h2 class="brand">RIGGERSA <span>S.L</span></h2>
                <p>
                    Ingeniería y construcción de alto nivel.
                    Más de 40 años desarrollando proyectos
                    sólidos y sostenibles.
                </p>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">OFICINAS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="https://www.google.com/maps/place/EMPRESA+PRINCIPAL+-+RIGGERSA+CONSTRUCCIONES+S.L./@40.3859311,-3.6896409,17z/data=!4m6!3m5!1s0xd422636b07a2ec3:0x4430f03d793fce7!8m2!3d40.385927!4d-3.687066!16s%2Fg%2F11j2y_l5cc?entry=ttu&g_ep=EgoyMDI2MDIyNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">📍C. de Puerto Serrano, 24, Arganzuela, 28045 Madrid</a></li>
                    <li>📧 info@riggersa.es</li>
                    <li>📞 +34 913545796</li>
                    <li>🕒 Lun - Vie: 9:00 a 19:00</li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">LEGAL</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="politica_privacidad.html">Política de Privacidad</a></li>
                    <li><a href="politica_privacidad.html">Aviso Legal</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">SÍGUENOS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="https://es.linkedin.com/company/riggersa-construcciones-s-l" target="_blank">LinkedIn</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100088196477232&locale=es_ES" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/riggersa_construcciones_s.l" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
        © 2026 RIGGERSA Construcciones S.L. Todos los derechos reservados.
        </div>
    </footer>
    <!-- =============================JS========================================================= -->
    <script>
        const menu = document.querySelector(".header_nav");
        const boton = document.querySelector(".menu-toggle");
        boton.addEventListener("click", ()=>{
            menu.classList.toggle("active")
        })
    </script>
</body>
</html>