<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIGGERSA | Portafolio</title>
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="icon" href="../assets/images/common/icon.png">
</head>
<body>
    <!-- =============================HEADER========================================================= -->
    <header class="header">
        <div class="container nav-container">
            <div class="header_logo"><img src="../assets/images/common/logo.png" alt="Logo de la empresa" width="250" height="184"></div>
            <nav class="header_nav">
                <a href="../index.html">Inicio</a>
                <a href="productos.html" class="active">Galeria</a>
                <a href="presupuesto.html">Presupuesto</a>
                <a href="contacto.html">Contacto</a> 
            </nav>
            <button class="menu-toggle">⛑</button>
        </div>
    </header>
    <!-- =============================MAIN========================================================= -->
    <main class="portfolio">
        <section class="portfolio__hero-section">
            <div class="portfolio__hero-container">
                <h1>Nuestro Portafolio</h1>
                <p>Descubre los proyectos de ingeniería, construcción y desarrollo urbano de Riggersa S.L.</p>
            </div>
        </section>
        <section class="portfolio__item">
            <div class="portfolio__container">
                <div class="portfolio__text">
                    <h2>Planta Fotovoltaica</h2>
                    <p>El proyecto técnico en Arrato destaca por su compleja integración estructural. Las imágenes muestran el proceso de montaje de los soportes metálicos diseñados para resistir las condiciones ambientales, aprovechando la superficie de los depósitos y canales para la captación solar. Esta configuración permite un doble beneficio: la generación de energía limpia y la protección del recurso hídrico, evitando la proliferación de algas y minimizando la pérdida de agua por evaporación.</p>
                </div>
                <div class="portfolio__gallery">
                    <div class="portfolio__grid">
                        <img src="../assets/images/galeria_productos/obracivil.png" alt="Estructura sobre canales hídricos" width="1500" height="1126">
                        <img src="../assets/images/galeria_productos/obracivil1.png" alt="Montaje de soportes solares" width="512" height="384">
                        <img src="../assets/images/galeria_productos/obracivil2.png" alt="Paneles solares instalados" width="512" height="384">
                        <img src="../assets/images/galeria_productos/obracivil3.png" alt="Canales con soportes fotovoltaicos" width="1500" height="1126">
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio__item">
            <div class="portfolio__container">
                <div class="portfolio__text">
                    <h2>Casa de Árbol</h2>
                    <p>La resolución técnica de "La Casa del Árbol" destaca por su implantación sobre dos ejemplares de Pinus sylvestris, resolviendo los desafíos de cimentación en suelo rústico mediante soluciones de ingeniería no invasivas. Con una superficie útil de 55 m², el programa arquitectónico optimiza el espacio mediante una planta libre que integra dormitorio con cama suspendida, salón, cocina y servicios húmedos con bañera de hidromasaje. La envolvente ha sido diseñada para maximizar las vistas panorámicas sin comprometer la eficiencia energética, utilizando las propiedades higroscópicas y aislantes de la madera para garantizar el confort higrotérmico en un clima de montaña.</p>
                </div>
                <div class="portfolio__gallery">
                    <div class="portfolio__grid">
                        <img src="../assets/images/galeria_productos/casaarbol.png" alt="Vista exterior aérea de la casa del árbol integrada en el bosque" width="1120" height="747">
                        <img src="../assets/images/galeria_productos/casaarbol1.png" alt="Detalle de la escalera de acceso de madera y la entrada principal" width="1120" height="747">
                        <img src="../assets/images/galeria_productos/casaarbol2.png" alt="Interior de madera con cama suspendida y área de estar" width="1120" height="747">
                        <img src="../assets/images/galeria_productos/casaarbol3.png" alt="Vista lateral de la estructura elevada de la casa sobre pilotes" width="1120" height="747">
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio__item">
            <div class="portfolio__container">
                <div class="portfolio__text">
                    <h2>Vivienda Campestre</h2>
                    <p>Este proyecto residencial destaca por una solución de cubierta a dos aguas ejecutada mediante un sistema de vigas de madera laminada vista, que aporta una gran inercia estructural y calidez espacial al programa interior. El diseño de los aleros perimetrales, soportados por pies derechos de madera sobre basas de piedra, no solo cumple una función estética, sino que actúa como un elemento de control solar pasivo, protegiendo los paramentos verticales de la incidencia directa y el exceso de escorrentía. La configuración de la techumbre sigue una modulación rítmica que define la jerarquía de los espacios comunes, permitiendo grandes luces y una sensación de amplitud volumétrica.</p>
                </div>
                <div class="portfolio__gallery">
                    <div class="portfolio__grid">
                        <img src="../assets/images/galeria_productos/reforma.png" alt="Vista exterior de la fachada con porche de madera y un estanque frontal" width="1500" height="843">
                        <img src="../assets/images/galeria_productos/reforma1.png" alt="Interior diáfano de la vivienda con techos altos y vigas de madera vista" width="1500" height="1125">
                        <img src="../assets/images/galeria_productos/reforma2.png" alt="Detalle del porche cubierto con pilares de madera y vistas al jardín" width="750" height="1000">
                        <img src="../assets/images/galeria_productos/reforma3.png" alt="Vista lateral exterior que muestra la cubierta a dos aguas de la vivienda" width="1500" height="843">
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio__item">
            <div class="portfolio__container">
                <div class="portfolio__text">
                    <h2>Pistas del Polideportivo</h2>
                    <p>La intervención consiste en una reestructuración integral del recinto deportivo mediante la demolición del vallado y muros de las seis pistas de tenis y cuatro de pádel originales. El nuevo esquema organizativo rehabilita dos pistas de tenis con nuevo pavimento y vallado, mientras que el resto de la superficie se destina a la nueva urbanización o es demolida para ampliar la oferta deportiva. Esta ampliación incluye la construcción de cuatro pistas de pádel cubiertas, dos descubiertas y tres pistas de swingbol, integrando un almacén cuyo nivel superior se aprovecha como mirador.</p>
                </div>
                <div class="portfolio__gallery">
                    <div class="portfolio__grid">
                        <img src="../assets/images/galeria_productos/polideportivo.png" alt="Vista exterior desde el mirador superior hacia las pistas cubiertas" width="1240" height="525">
                        <img src="../assets/images/galeria_productos/polideportivo1.png" alt="Pistas de pádel acristaladas con estructura de cubierta metálica" width="1242" height="758">
                        <img src="../assets/images/galeria_productos/polideportivo2.png" alt="Perspectiva interior bajo la cubierta de las nuevas pistas" width="1242" height="952">
                        <img src="../assets/images/galeria_productos/polideportivo3.png" alt="Gradas de hormigón exteriores junto a la zona de juego" width="1240" height="756">
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio__item">
            <div class="portfolio__container">
                <div class="portfolio__text">
                    <h2>Vivienda Familiar Rural</h2>
                    <p>Se trata de una vivienda rural situada en el centro del municipio. La vivienda se cierra hacia el pueblo y se abre hacia el espacio jardín con porche para disfrutar de las noches de verano  de la época estival. Se convierte en un refugio de fin de semana de desconexión pero con todas las comodidades. Salón y cocina se forman un gran espacio que abierto hacia el porche y jardín.</p>
                </div>
                <div class="portfolio__gallery">
                    <div class="portfolio__grid">
                        <img src="../assets/images/galeria_productos/casapiscina.png" alt="Patio trasero de la vivienda con césped y piscina alargada" width="1120" height="747">
                        <img src="../assets/images/galeria_productos/casapiscina1.png" alt="Cocina moderna de concepto abierto con mobiliario blanco" width="747" height="1120">
                        <img src="../assets/images/galeria_productos/casapiscina2.png" alt="Porche exterior pavimentado con mobiliario de terraza" width="747" height="1120">
                        <img src="../assets/images/galeria_productos/casapiscina3.png" alt="Salón interior con sofás amplios y chimenea clásica" width="747" height="1120">
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio__item">
            <div class="portfolio__container">
                <div class="portfolio__text">
                    <h2>Rehabilitación de Villa Carmen</h2>
                    <p>También conocida como «la casa del terror» o Mas El Gener de la Plana. Se hicieron trabajos de mantenimiento para evitar el deterioro acelerado de la construcción, que tiene más de 150 años. Los trabajos realizados el pasado año 2019 por parte de Construo tenían como objeto la rehabilitación de las fachadas y solucionar los problemas de filtraciones. Estas actuaciones se han llevado a cabo para garantizar la supervivencia de un edificio que cuenta con un gran valor histórico y arquitectónico.</p>
                </div>
                <div class="portfolio__gallery">
                    <div class="portfolio__grid">
                        <img src="../assets/images/galeria_productos/rehabilitacion.png" alt="Fachada principal histórica de Villa Carmen con escalinata de piedra" width="800" height="360">
                        <img src="../assets/images/galeria_productos/rehabilitacion1.png" alt="Grúa elevadora realizando trabajos de restauración en el tejado" width="800" height="600">
                        <img src="../assets/images/galeria_productos/rehabilitacion2.png" alt="Comparativa del estado deteriorado y restaurado de un lateral de la fachada" width="800" height="560">
                        <img src="../assets/images/galeria_productos/rehabilitacion3.png" alt="Comparativa del antes y después de la esquina principal rehabilitada" width="800" height="553">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- =============================FOOTER========================================================= -->
    <footer class="footer">
        <div class="container footer-grid">
            <div class="footer-col">
                <h3 class="footer-title">EMPRESA</h3>
                <div class="footer-line"></div>
                <h2 class="brand">RIGGERSA <span>S.L</span></h2>
                <p>Ingeniería y construcción de alto nivel. Más de 40 años desarrollando proyectos sólidos y sostenibles.</p>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">OFICINAS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="https://www.google.com/maps/place/EMPRESA+PRINCIPAL+-+RIGGERSA+CONSTRUCCIONES+S.L./@40.3859311,-3.6896409,17z/data=!4m6!3m5!1s0xd422636b07a2ec3:0x4430f03d793fce7!8m2!3d40.385927!4d-3.687066!16s%2Fg%2F11j2y_l5cc?entry=ttu&g_ep=EgoyMDI2MDIyNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">📍C. de Puerto Serrano, 24, Arganzuela, 28045 Madrid</a></li>
                    <li>📧 info@riggersa.es</li>    
                    <li>📞 +34 913545796</li>
                    <li>🕒 Lun - Vie: 9:00 a 19:00</li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">LEGAL</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li><a href="politica_privacidad.html">Política de Privacidad</a></li>
                    <li><a href="aviso_legal.html">Aviso Legal</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">SÍGUENOS</h3>
                <div class="footer-line"></div>
                <ul class="footer-links">
                    <li>
                        <a href="https://es.linkedin.com/company/riggersa-construcciones-s-l" target="_blank">
                            <img src="../assets/images/common/linkedin.png" alt="LinkedIn" width="512" height="512" class="icon">LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100088196477232&locale=es_ES" target="_blank">
                            <img src="../assets/images/common/facebook.png" alt="Facebook" width="512" height="512" class="icon">Facebook 
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/riggersa_construcciones_s.l" target="_blank">
                            <img src="../assets/images/common/instagram.png" alt="Instagram" width="512" height="512" class="icon">Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
        <p>© 2026 RIGGERSA Construcciones S.L. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- =============================JS========================================================= -->
    <script>
        const menu = document.querySelector(".header_nav");
        const boton = document.querySelector(".menu-toggle");
        boton.addEventListener("click", ()=>{
            menu.classList.toggle("active")
        })
    </script>
</body>
</html>